<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shizhefei.indicator.demo">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shizhefei.indicator.proxyfragment.TestExceptionActivity"></activity>
        <activity android:name="com.shizhefei.indicator.proxyfragment.TestProxyFragmentActivity" />
        <activity
            android:name="com.shizhefei.indicator.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shizhefei.indicator.guide.GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.shizhefei.indicator.tabmain.TabMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.shizhefei.indicator.moretab.MoreTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.shizhefei.indicator.moretab.MoreTab2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.shizhefei.indicator.spring.SpringActivity"
            android:label="@string/title_activity_spring" />
        <activity
            android:name="com.shizhefei.indicator.year.YearActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.shizhefei.indicator.SingleTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.shizhefei.indicator.BannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>